.page-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.page-layout__header {
}

.page-layout__main {
  flex-grow: 1;
  display: flex;
  margin-top: 12px;
}

.page-layout__content {
  flex-grow: 1;
}

.page-layout__footer {
  margin-top: 12px;
}
